PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/egyptian_museum
SESSION_SECRET=replace_with_strong_secret
CLOUDINARY_CLOUD_NAME=dbannypa2
CLOUDINARY_API_KEY=875946769863498
CLOUDINARY_API_SECRET=7c3W5-_ksHqbXCNFIwam-3ouQRA
